@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --verde-100: #e9edc9;
    --verde-200: #ccd5ae;
    --pastel: #fefae0;
    --marrom-100: #faedcd;
    --marrom-200: #d4a373;
}

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #f5f6fa;
    margin: 0;
}

.wrapper .sidebar {
    background: var(--marrom-200);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar .profile {
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.wrapper .sidebar .profile h3 {
    color: #ffffff;
    font-size: 18px;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p {
    color: #ffffff;
    font-size: 14px;
}

.wrapper .content {
    margin-left: 225px;
    padding: 40px 20px;
}

.content .header {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray
}

.header h1 {
    font-size: 24px;
}

.header span {
    color: #ffffff;
    background-color: var(--marrom-200);
    padding: 10px;
    margin-left: auto;
    border-radius: 15px;
}

/*** Table Styles **/
.table-fill {
    background: white;
    border-radius: 8px;
    border-collapse: collapse;
    margin: 20px auto;
    padding: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

th {
    color: #D5DDE5;
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    /* border-right: 1px solid #343a45; */
    font-size: 20px;
    padding: 10px;
    vertical-align: middle;
}

th:first-child {
    border-top-left-radius: 8px;
}

th:last-child {
    border-top-right-radius: 8px;
    border-right: none;
}

tr:hover td {
    background: #4E5066;
    color: #FFFFFF;
    border-top: 1px solid #22262e;
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

tr:nth-child(odd) td {
    background: #EBEBEB;
}

tr:nth-child(odd):hover td {
    background: #4E5066;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

td {
    background: #FFFFFF;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0px;
}