@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #f5f6fa;
    margin: 0;
}

.wrapper .sidebar {
    background: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.wrapper .sidebar .profile h3{
    color: #ffffff;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
    color: rgb(206, 240, 253);
    font-size: 14px;
}

.wrapper .content {
    margin-left: 225px;
    padding: 40px 20px;
}

.content .header {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray
}

.header span {
    color: #ffffff;
    background-color: rgb(5, 68, 104);
    padding: 10px;
    margin-left: auto;
    border-radius: 15px;
}

/* h1 {
    text-align: center;
} */

.tabela-produtores {
    margin: 20px auto;
}

thead {
    padding: 20px;
    vertical-align: middle;
    background-color: rgb(5, 68, 104);
}

tbody {
    vertical-align: middle;
    border-color: inherit;
}

td {
    text-align: center;
    padding: 5px;
}