<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
  </head>
  <body>
    <h1 style="text-align: center; padding-top: 50px; color: rgb(7, 6, 3)">
      Deméter APP
    </h1>
    <div class="main_div">
      <h1>User Login</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flash" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
      <form class='form' id='form' method="post" action="{{ url_for('crud')}}">
        <div class="content">
          <input type="text" class="email" name='email' id="email" required/>
          <span></span>
          <label>User</label>
        </div>
        <div class="content">
          <input type="password" class="pwd" name='pwd' id="pwd" autocomplete="off" required/>
          <span></span>
          <label>Password</label>
        </div>
        <button class="submit">
          <span>Login</span>
      </button>
      </form>
    </div>
  </body>
</html>